@page
@model Sql_Mando.Pages.DeleteKnownTitlesModel
@{
}

    <div class="row">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="@Model.title.nconst" class="form-control"></label>
                    <input asp-for="@Model.title.nconst" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.title.knownTitle" class="form-control"></label>
                    <input asp-for="@Model.title.knownTitle" class="form-control" />
                </div>
                <div class="form-group">
                    <a asp-page="NamePage" class=" btn-btn-primary">Cancel</a>
                    <input type="submit" value="Delete title" class="btn-btn-primary" />
                </div>
            </form>
        </div>
    </div>


